# Extract Player Data
This notebook queries the WNBA API for relevant player data. Then we format the data and output it to CSV.

Authors: Annie Staker and Mina Nielsen. Uses code from Madison Sanchez-Forman.

In [13]:
import requests
import pandas as pd

In [32]:
"""
Author: Madison Sanchez-Forman
Version: 11.6.24
Description: This notebook will make requests to an API that contains WNBA data. 
Field Ideas: 
	location, team name, roster, ranking(through time), 
    roster (just this years), game schedule, draft data (through time), play by play
"""
url = "https://wnba-api.p.rapidapi.com/team/id"

querystring = {"limit":"70"}

headers = {
	"x-rapidapi-key": "5d5e2858cemsh4b2fb0d90e07d40p1e1f67jsnac0328984085",
	"x-rapidapi-host": "wnba-api.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

team_ids_df = pd.DataFrame(response.json())

team_ids_df.head()

,teamId,displayName,shortDisplayName,abbreviation,slug,link
0,20,Atlanta Dream,Dream,ATL,atlanta-dream,https://www.espn.com/wnba/team/_/name/atl/atla...
1,19,Chicago Sky,Sky,CHI,chicago-sky,https://www.espn.com/wnba/team/_/name/chi/chic...
2,18,Connecticut Sun,Sun,CONN,connecticut-sun,https://www.espn.com/wnba/team/_/name/conn/con...
3,3,Dallas Wings,Wings,DAL,dallas-wings,https://www.espn.com/wnba/team/_/name/dal/dall...
4,129689,Golden State Valkyries,Valkyries,GSV,golden-state-valkyries,https://www.espn.com/wnba/team/_/name/gsv/gold...

In [33]:
all_players = [] # a list of dictionaries
team_ids = team_ids_df['teamId'].to_list()

for team_id in team_ids:
    url = "https://wnba-api.p.rapidapi.com/players/id"

    querystring = {"teamId":team_id}

    headers = {
        "x-rapidapi-key": "5d5e2858cemsh4b2fb0d90e07d40p1e1f67jsnac0328984085",
        "x-rapidapi-host": "wnba-api.p.rapidapi.com"
    }

    response = requests.get(url, headers=headers, params=querystring)

    team_players = response.json()['data'] # this is the list dictionaries

    for team_player in team_players:
        team_player['teamId'] = team_id # add a new key called teamId to each player dictionary - contains the id of their team

    all_players.extend(team_players)

players_df = pd.DataFrame(all_players)

KeyError: 'data'

In [35]:
response.json()

{'message': 'You have exceeded the rate limit per minute for your plan, BASIC, by the API provider'}